@import '@fontsource/fira-mono';

:root {
  font-family: 'Inter', sans-serif;

  --font-mono: 'Fira Mono', monospace;
  --pure-white: #fff;
  --dark: #000;
  --secondary-color: #d0dde9;
  --tertiary-color: #edf0f8;
  --accent-color: #fccc0a;
  --heading-color: rgba(0, 0, 0, .7);
  --text-color: #444;
  --background-without-opacity: rgba(255, 255, 255, .7);
  --column-width: 42rem;
  --column-margin-top: 4rem;
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: var(--dark);
}

body::before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 10vw;
  width: 80vw;
  height: 100vh;
  content: '';
  opacity: .05;
}

#svelte {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
p {
  color: var(--heading-color);
}

h1,
h2,
h3,
h4,
h5 {
  width: fit-content;
  margin: 0;
  color: #fff;
  font-weight: 900;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: var(--accent-color);
}

a:hover {
  text-decoration: underline;
}

h1 {
  text-align: center;
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

pre {
  overflow-x: auto;
  padding: .5em;
  color: var(--text-color);
  border-radius: 3px;
  background-color: rgba(255, 255, 255, .45);
  box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
  font-family: var(--font-mono);
  font-size: 16px;
}

input,
button {
  font-family: inherit;
  font-size: inherit;
}

button:focus:not(:focus-visible) {
  outline: none;
}

@media (min-width: 720px) {
  h1 {
    font-size: 2.4rem;
  }
}